.pagination {
	text-align: center;
	margin-top: 50px;
}

.pagination a {
	margin: 0 5px;
	padding: 10px 15px;
	/* border: 1px solid #ddd; */
	background-color: var(--primary-blue);
	color: white;
	text-decoration: none;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.pagination a:hover {
  background-color: var(--primary-color);
}

.pagination a.active {
	background-color: #333;
	color: #fff;
}