@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600&display=swap');


body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(45deg, #1a1a2e, #16213e, #0f3460);
  color: #e94560;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}